node_modules/
.idea/
downloads/
dist/
full-dist/
FinalBridge.iml
media/
working/
(?i)\.zip
(?i)\.nw
bin/
tools/closurecompiler
tools/Tiled
components.txt
resources.json
log/
output/
css/pure-min.css
.hg/
javascripts/
.jshintrc
*.nw
*.html